body {
  background-color: pink;
}
  p   {
    font-size: 20px;
  }

h1 {
    color: white;
    text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

body {
  color: white;
  text-align: center;
}

.navigation > div{
  padding: 5px 70px;
  width: 165px;
  text-align: center;
  font-size: 2em;
  color: palevioletred;
  overflow: hidden;
  float: left;
  display: block;
  border-style: solid;
  border-color: rosybrown;
}
.navigation a:hover {
  background-color: thistle;
}

.navigation > div:nth-child(1) {
  background-color: aliceblue;
}

.navigation > div:nth-child(2){
  background-color: aliceblue;
}

.navigation > div:nth-child(3){
  background-color: aliceblue;
}

.navigation > div:nth-child(4){
  background-color: aliceblue;
}
